{% extends "layout.html" %}

{% block title %}Forum{% endblock %}

{% block content %}
  <h1>Forum</h1>
  <p>This is a forum about ________, and only about ___. There will be no off topic posts. Some guidelines for this forum is to stay on topic and only talk about ___. Off topic posts will result in a horrible tragedy where your universe will be destroyed.</p>
  
{% if 'github_token' in session %}
  <form action='/posted' method="post">
    <textarea name="message" style="width:100%; height:100px;"></textarea>
    <br>
    <input type="submit" value="Post">
  </form>
{%  else %}
  <p>You must be logged in to post.</p>
{% endif %}
<form action="/b" method="post">
  {{ past_posts }}
</form>


{% endblock %}
